{% extends 'display/layout.html.twig' %}

{% set aStations = oSite.getStations() %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#tabs" ).tabs();

            {% for oStation in aStations %}
                    $( "#tabsptsprelev{{oStation.getCode()}}" ).tabs();
            {% endfor %}
        });
    </script>
{% endblock %}

{% block page_contents %}

<div id="tabs">
    <ul>
        <li><a href="#tabs-0">Informations sur le site</a></li>
        {% for oStation in aStations %}
                <li><a href="#tabs-{{loop.index}}">Station {{oStation.getNom()}}</a></li>
        {% endfor %}
    </ul>
    <div id="tabs-0">
        <div class="row">
            <ul class="column">
                <li>Code réseau SSM : <span class="infovalue">{{oSite.getCodeReseau()}}</span></li>
                <li>Agence : <span class="infovalue">{{oSite.getAgence()}}</span></li>
                <li>Direction régionale OFB : <span class="infovalue">{{oSite.getDirectionRegionale()}}</span></li>
                <li>Code entité Hydro : <span class="infovalue">{{oSite.getCodeEntiteHydro()}}</span></li>
                <li>Code entité Hydro 2 : <span class="infovalue">{{oSite.getCodeEntiteHydro2()}}</span></li>
                <li>Toponyme Sandre : <span class="infovalue">{{oSite.getToponyme()}}</span></li>
                <li>toponyme si manquant : <span class="infovalue">{{oSite.getToponymeAutre()}}</span></li>
                <li>Commune : <span class="infovalue">{{oSite.getCommune()}}</span></li>
                <li>Département : <span class="infovalue">{{oSite.getDepartement()}}</span></li>
                <li>Diagnostic : <span class="infovalue">{{oSite.getDiagnostic()}}</span></li>
                <li>Emplacement diagnostic : <span class="infovalue">TODO</span></li>
                <li>Interlocuteur MO travaux : <span class="infovalue">{{oSite.getInterlocuteur()}}</span></li>
                <li>Type de travaux prévus : <span class="infovalue">{{oSite.getTypeTravauxPrevus()}}</span></li>
                <li>Type de travaux réalisés - Principal : <span class="infovalue">{{oSite.getTypeTravauxRealisesPrincipal()}}</span></li>
                <li>Type de travaux réalisés - Secondaire : <span class="infovalue">{{oSite.getTypeTravauxRealisesSecondaire()}}</span></li>
                <li>Type de travaux réalisés - Accessoire : <span class="infovalue">{{oSite.getTypeTravauxRealisesAccessoire()}}</span></li>
            </ul>
            <ul class="column">    
                <li>Modalités de l'opération de restauration : <span class="infovalue">{{oSite.getModalitesOperation()}}</span></li>
                <li>Mesures d'accompagnement : <span class="infovalue">{{oSite.getMesuresAccompagnement()}}</span></li>
                <li>MO travaux : <span class="infovalue">{{oSite.getMoTravaux()}}</span></li>
                <li>Linéaire restauré (m) : <span class="infovalue">{{oSite.getLongLineaireRestaure()}}</span></li>
                <li>Largeur plein bords naturelle (m) : <span class="infovalue">{{oSite.getLargeurPleinBordsNaturelle()}}</span></li>
                <li>Code ROE principal : <span class="infovalue">{{oSite.getCodeRoe()}}</span></li>
                <li>Hauteur de chute à l'étiage ROE : <span class="infovalue">{{oSite.getHauteurChuteEtiageRoe()}}</span></li>
                <li>Hauteur de chute hors ROE (m) : <span class="infovalue">{{oSite.getHauteurChuteHorsRoe()}}</span></li>
                <li>Date début travaux prévus : <span class="infovalue">{{oSite.getAnneeDebutTravauxPrevus()}}</span></li>
                <li>Date fin travaux prévus : <span class="infovalue">{{oSite.getAnneeFinTravauxPrevus()}}</span></li>
                <li>Date effective début travaux : <span class="infovalue">{{oSite.getAnneeEffectiveDebutTravaux()}}</span></li>
                <li>Date effective fin travaux : <span class="infovalue">{{oSite.getAnneeEffectiveFinTravaux()}}</span></li>
                <li>Descriptif travaux : <span class="infovalue">{{oSite.getDescriptifTravaux()}}</span></li>
                <li>Eléments de contexte pour l'analyse : <span class="infovalue">{{oSite.getElementsContexte()}}</span></li>
            </ul>
        </div>
    </div>
    {% for oStation in aStations %}
        <div id="tabs-{{loop.index}}">
            {% set aPtsPrelev = oStation.getPointPrelevements() %}
            <div id="tabsptsprelev{{oStation.getCode()}}">
                <ul>
                    <li><a href="#tabsptsprelev-0">Informations sur la station</a></li>
                    {% for oPtPrelev in aPtsPrelev %}
                            <li>
                                <a href="#tabsptsprelev-{{loop.index}}">
                                    Point pr. {{oPtPrelev.getNumbase()}}
                                </a>
                            </li>
                    {% endfor %}
                </ul>
                <div id="tabsptsprelev-0">
                    <div class="row">
                        <ul class="column">
                            <li>Code : <span class="infovalue">{{oStation.getCode()}}</span></li>
                            <li>Nom : <span class="infovalue">{{oStation.getNom()}}</span></li>
                            <li>Code masse d'eau : <span class="infovalue">{{oStation.getCodeMasseEau()}}</span></li>
                            <li>Nom masse d'eau : <span class="infovalue">{{oStation.getNomMasseEau()}}</span></li>
                        </ul>
                        <ul class="column">
                            <li>Détail situation : <span class="infovalue">{{oStation.getDetailSituation()}}</span></li>
                            <li>Précision positionnement : <span class="infovalue">{{oStation.getPrecisionPositionnement()}}</span></li>
                            <li>Suivi indicateurs fonctionnels : <span class="infovalue">{{oStation.getSuiviIndicateursFonctionnels()}}</span></li>
                            <li>Finalité : <span class="infovalue">{{oStation.getFinalite()}}</span></li>
                        </ul>
                    </div>
                </div>
                        
                {% for oPtPrelev in aPtsPrelev %}
                    <div id="tabsptsprelev-{{loop.index}}">
                        <ul>
                            <li>Num Base : <span class="infovalue">{{oPtPrelev.getNumbase()}}</span></li>
                            <li>Support : <span class="infovalue">{{oPtPrelev.getSupport()}}</span></li>
                            <li>coord_x_l93 : <span class="infovalue">{{oPtPrelev.getCoordXL93()}}</span></li>
                            <li>coord_y_l93 : <span class="infovalue">{{oPtPrelev.getCoordYL93()}}</span></li>
                        </ul>
                        {% set aOpPrelev = oPtPrelev.getOperationPrelevements() %}
                        {% if aOpPrelev is empty %}
                            Pas d'opération associée à ce point de prélèvement.
                        {% else %}
                            <table class="operationsprelevement">
                                <tr>
                                    <th>Code opération</th>
                                    <th>Date prélèvement</th>
                                    <th>MO suivi</th>
                                    <th>Interlocuteurs suivis</th>
                                    <th>Protocole</th>
                                    <th>Conformité SSM</th>
                                    <th>Banque stockage</th>
                                    <th>Précision</th>
                                    <th>Commentaire</th>
                                </tr>
                                {% for oOpPrelev in aOpPrelev %}
                                    <tr>
                                        <td>{{oOpPrelev.getCodeOperation()}}</td>
                                        <td>TODO</td>
                                        <td>{{oOpPrelev.getMOSuivi()}}</td>
                                        <td>{{oOpPrelev.getInterlocuteurSuivis()}}</td>
                                        <td>{{oOpPrelev.getProtocole()}}</td>
                                        <td>{{oOpPrelev.getConformiteSSM()}}</td>
                                        <td>{{oOpPrelev.getBanqueStockage()}}</td>
                                        <td>{{oOpPrelev.getPrecision()}}</td>
                                        <td>{{oOpPrelev.getCommentaire()}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}            
</div>
{% endblock %}